@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  @apply text-orange-500 underline underline-offset-2;
}

a:hover {
  @apply text-orange-300;
}

.inline-bullets {
  @apply flex flex-col sm:flex-row;
}

.inline-bullets li {
}

.inline-bullets li::after {
  content: "•";
  @apply ml-2 mr-1;
}

.inline-bullets li:last-of-type::after {
  content: "";
}

.comma-list {
  @apply flex flex-row;
}

.comma-list li::after {
  content: ",";
  @apply mr-1;
}

.comma-list li:last-of-type::after {
  content: "";
}
